* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ALL PAGES */
.header {
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.header a {
    display: block;
    text-decoration : none;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #000066;
    font-weight: 300;
    font-size: 14px;
    text-align: center;   
}
.header-link-wrapper {
    height: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    margin: 0 30px;
    
}
.header-link-wrapper:hover {
    border-bottom: 2px solid #ff5d9f;
}
#active {
    border-bottom: 2px solid #ff5d9f;
}

/*INDEX PAGE */
.container {
    background-image: url(img/html.png);
    background-repeat: no-repeat;   
    background-position-y: 50%;
    background-position-x : 80%;
    background-size: 500px;
    height: 800px;
    font-family: 'Abril Fatface', cursive;
}
.container p, button {
    position: absolute;
    left: 75px;
    font-size: 3vw;
}

.hello {
    top: 250px;
    }
.name {
    top: 350px;
}
.name span {
    color:#BAA7FB;
}
.portfolio {
    top: 450px;
}
.portfolio span {
    color : #54FFBC;
}
button{
    padding: 10px 15px 10px 15px;
    color: white;
    background-color:#ff5d9f ;
    border-radius: 5px;
    border: none;
    font-size: 1vw;
    top: 550px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}
a button:hover {
    background-color:#000066 ;
    cursor: pointer;
    transition: background-color .5s;
}
footer {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 13px;
}
footer p {
    font-weight: 400;
}
footer a {
    text-decoration: none;
    color:#ff5d9f;
}
footer a:active, footer a:visited, footer a:hover{
    color: #000066;
}
/*PROJECT PAGE */
.body-project {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
    background-color: #f5f5f5;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    color:#ff5d9f;
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
}
.project-undertitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 12px;
    margin-bottom: 50px;
}
 .main-project {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
.project-card {
    display: block;
    width: 320px;
    height: 280px;
    margin: 20px 10px;
    background-color:white;
    border-radius: 10px;
    padding : 10px;
    box-shadow: 3px 3px 10px 3px rgba(204, 202, 202, 0.79);
    -moz-box-shadow: 3px 3px 10px 3px rgba(204, 202, 202, 0.79);
    -webkit-box-shadow: 3px 3px 10px 3px rgba(204, 202, 202, 0.79); 
}
.project-card h2 {
    font-family: 'Abril Fatface', cursive;
    color: #000066 ; 
}
.project-card:hover {
    opacity: 0.6;
    cursor: pointer;
}
.project-card a{
    text-decoration: none;
    color: inherit;
}
.card-img {
    width: 300px;
}
.main-project h2 {
    padding-bottom: 10px;
    padding-top: 5px;
}
.project-card p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
#responsive {
    color:#9A8FA8 ;
    font-size: 0.6em;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 5px;
    margin-top: 2px;
}
#responsive::before{
    content:'';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(img/computer.png) center center / 25px 20px no-repeat;
}
/*MEDIA QUERIES*/
@media all and (max-width:800px) {
    .container {
        background-image: url(img/html.png);
        background-repeat: no-repeat;   
        background-position-y: 10%;
        background-position-x: center;
        background-size: 300px;
        height: 800px;    
    } 
    .container p, button {
        position: absolute;
        left: 75px;
        font-size: 1.2em;
    }
    .container button {
        font-size: 1em;
    }
    .hello {
        top: 450px;
        }
    .name {
        top: 500px;
    }
    .name span {
        color:#BAA7FB;
    }
    .portfolio {
        top: 550px;
    }
    .portfolio span {
        color : #54FFBC;
    }
    button {
        top: 600px;
    }
    .header {
        flex-wrap: wrap;
        height: 50px;
        justify-content: space-evenly;
     }
    .header-link-wrapper {
        height: 20px;
        margin: 0 5px;
    }
}
