@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype'),
        url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
* {
    box-sizing: border-box;
}
body, html {
  font-size: 16px;  
  font-family: "Montserrat",sans-serif;
  color: rgba(0, 0, 0, .87);
  line-height: 1.6;
  margin: 0;
  font-weight: 500;
  background-color: #FBFBFB;
}
.topbar {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 87px;
    z-index: 4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .6);
    display: flex;
    justify-content : start;
}

nav a {
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
    transition: color .3s;
}
nav a:hover, .active {
    color: black;
}
.social {
        margin-left: auto;
}
.social a {
    padding : 0 12px;
    opacity: 0.5;
}
.social a:hover  {
    opacity: 1;
    transition: opacity .3s;
}
.banniere {
    height:423px;
    background-image: url("img/banniere.jpg");
    background-size: cover;
    background-position: center center ;
    width: 100%;
}
.bodypage {
    display: flex;
    flex-wrap: nowrap;
}
.main {
    background-color: white;
    width: calc(100% - 375px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, .06);
    z-index: 2;
    position: relative;
    }
.sidebar{
    background-color: #FBFBFB;
    width: 375px;
    padding: 40px;
    z-index: 1;
    position: relative;
}
.sidebar-title {
    font-size: 30px;
    color: black;
    margin-bottom: 15px 0;
}
.sidebar-title:first-child{
    margin-top: 0;
}
.sidebar a {
    color :#9F9F9F;
    text-decoration: none; 
}
.sidebar a:hover {
    text-decoration: underline;
}
.sidebar ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-size: 17px;
}
.sidebar li {
    padding :6px 0;
}
.sidebar li:first-child {
    padding-top : 0;
}
.sidebar li:last-child {
    padding-bottom: 0;
}
.sidebar hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin : 50px 0;
}
.article {
    position : relative;
    padding-left : 333px;
    min-height: 203px;
    margin : 50px 0;
}
.article a {
    color: inherit;
    text-decoration: none;
}
.article a:hover {
    color: ;
}
.container {
    max-width: 940px;
    margin : 50px auto;
}
.article-img {
    margin-right: 25px;
    position: absolute;
    left: 0;
    top: 0;
    width: 308px;
}
.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
    font-size: 0.9rem;
}
.article-title {
    font-size: 2.25rem ;
    line-height: 1.2;
    font-family: "cardo", serif;
    margin : 0 0 15px 0;
}
.article-title::after {
    background: black;
    content: '';
    display: block;
    height: 2px;

}
.article-img img {
    width: 100%;
    height: auto;
    transition : transform .5s;
}
.article-img img:hover{
    transform: scale(1.1);
}
.footer {
    clear: both;
}
.category-tag {
    display: inline;
    padding: 5px;
    background-color: grey;
    color: white;
    margin: 15px 5px;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
}
.category-tag a {
    color: white;
    text-decoration: none;
}
.category-tag:hover {
    background-color: black;
}
.illustration-article {
    float: right;
    max-width: 450px;
    margin: 10px;
}
.article-text {
    text-align: justify;
}
.nav-articles {
    display: flex;
    margin : 15px auto;
    }
.nav-articles img {
    height: 35px;
    margin: 15px 10px;
    opacity: 0.5;
      
}
.nav-articles p {
    color: lightgray;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.1rem;
    font-weight: 800; 
}
.nav-articles a{
    color: black;
    text-decoration: none;
    margin : auto;
}
.previous-icon {
    transform: rotate(0.5turn);
}
.next-article {
    display: flex;
    margin : auto;
    align-items:center;
    }
.previous-article {
    display: flex;
    margin : auto ;
    align-items:center;
}
.next-article:hover {
    transform: translate(5px);
    transition: transform 0.2s;
    text-decoration: none;
}
.previous-article:hover{
    transform: translate(-5px) ;
    transition: transform 0.2s;
    }
.previous-icon:hover {
    transform: rotate(0.5turn);
}
.about img {
    border-radius: 1000px;
    height: 250px;
    float: left;
    position: relative;
    top:70px ;
    
}
.about p {
    margin-left: 260px;
    text-align: justify;
}
.contact {
    display: flex;
    }
.formulaire input{
    width: 250px;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px 0;
    font-family: inherit;
    font-size: 80%;
    }
.name {
    padding: 5px;
}
.name::placeholder {
    color: lightslategray;
}
.message {
    height: 250px;  
}
.message::placeholder {
    color: lightslategray;;
}
.address{
    margin-bottom: 20px;
}
.address a {
    text-decoration: none;
    color : inherit;

}
.bouton-formulaire {
    padding: 5px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.1rem; 
 }
.bouton-formulaire a {
    color: inherit;
    text-decoration: none;

}
.bouton-formulaire:hover {
    background-color: black;
}
address {
    margin-bottom: 10px;
    font-style: normal;
}
iframe {
    width: 500px;
}
@media only screen and (max-width: 1100px) {
    .body {
        display: block;
    }
    .main {
        width: 100%;
    }
    .main .container {
        overflow: hidden;
    }
    .sidebar {
        width: 100%;
    }
}
@media only screen and (max-width: 740px) {
    .container {
        padding : 0 20px;
    }
    .article {
        padding-left: 0;
    }
    .article-img {
        position : static;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
    }
}
@media only screen and (max-width: 860px) {
    
    .topbar {
        position: absolute;
    }
    .topbar nav, .social {
        flex: none;
        display: inline;
        text-align: center;
    }
    .topbar nav a {
        margin : 0 20px 5px 20px;
        white-space: nowrap;
        display: inline-block;
    }
    .topbar nav {
        margin-bottom: 15px;
    }

}